@import "tailwindcss";

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }

  body {
    @apply bg-slate-50 text-slate-800 antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-slate-900 tracking-tight;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-xl;
  }
}